@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: 'Roboto', sans-serif; */

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
/* HEADER */

/* logo */
header .logo {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.logo img {
    width: 15%;
}

/* navbar */
.nav {
    display: flex;
    justify-content: center;
}
.nav li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0em 2em 0em 2em;
    font-size: 0.9em;
}

.nav li a {
    color: black;
    text-decoration: none;
}

.nav li button {
    padding: 0.5em;
    background-color: grey;
    color: white;
}
/* HEADER */
/* HEADER */



/* BANNER */
/* BANNER */
.banner {
    background-image: url(../../../public/img/slider-1.jpg);
    background-repeat: no-repeat;
    background-position: 75%;
    height: 33em;
    background-size: 33%;
    background-color: whitesmoke;
    margin-top: 1em;
    padding-left: 13em; 
    
}

.banner h3 {
    color: red;
    padding-top: 3em;
    font-size: 2.5em;
}

.banner img {
    width: 28%
}

.banner p {
    padding-top: 0.5em;
}

.banner button {
    padding: 1em 2em;
    background-color: red;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 0.8em;
}
/* BANNER */
/* BANNER */


/* 3IMAGES */
/* 3IMAGES */

#img {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

#img1 {
    background-image: url(/public/img/services/service-1.jpg);
    background-size: 90%;
    position: relative;
    height: 7em;
    background-repeat: no-repeat;
}

#img2 {
    background-image: url(/public//img/services/service-2.jpg);
    background-size: 90%;
    position: relative;
    height: 7em;
    background-repeat: no-repeat;
}

#img3 {
    background-image: url(/public//img/services/service-3.jpg);
    background-size: 90%;
    position: relative;
    height: 7em;
    background-repeat: no-repeat;
}

#img h4 {
    display: flex;
    position: absolute;
    justify-content: center; 
    color: white;
}

/* transition hover */
#img h4 {
    position: relative;
    max-width: max-content;

}

#img h4::before {
    content: "";
    width: 120%;
    position: absolute;
    background-color: white;
    transition: 1s;
    left: -10%;
    height: 2px;
    bottom: -10px;
    margin-top: 3em;
}

#img h4:hover:before {
    content: "";
    width: 0;
    left: 50%;;
}

/* 3IMAGES */
/* 3IMAGES */





